body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* DISMISS SECTION */

.dismiss{
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

.dismiss a{
  color: white;
}

.fa-xmark{
  color: white;
  transform: scale(1.3);
  cursor: pointer;
  padding: 2px 5px;
}

/* HEADER SECTION */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.82);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#title{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}

nav ul{
  display: flex;
  margin-right: 100px;
}

nav ul li{
  list-style: none;
  margin: 0px 15px;
}

nav ul li a{
  padding: 8px 20px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

nav ul li a:hover{
  background-color: rgb(230, 230, 230);
  border-radius: 2px;
}

.userUtils{
  display: flex;
  justify-content: center;
  align-items: center;
}

.userUtils i{
  margin: 15px;
  cursor: pointer;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.userUtils i:hover{
  background-color: rgb(230, 230, 230);
  color: black;
}

.fa-magnifying-glass{
  padding: 9px 9px;
  transform: scale(1.1);
}

.fa-bag-shopping, .fa-user{
  padding: 9px 10px;
  transform: scale(1.1);
}

/* CONTENT SECTION */

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 400px;
}

.largeFont{
  font-size: 60px;
  font-weight: 500;
  margin: 0;
}

.elaboration{
  font-size: 20px;
  margin: 30px 80px;
  color: rgb(107, 107, 107);
}

/* EXPLORE BUTTON */

#explore{
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: 500;
  border: 1px solid grey;
  background-color: rgb(230, 230, 230);
}

#explore:hover{
  cursor: pointer;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.material-symbols-outlined{
  font-size: 14px;
  padding-left: 5px;
  vertical-align: middle;
}

/* COVER SECTION */

.cover{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  position: relative;
}

.cover img{
  width: 50em;
}

.cover input{
  position: absolute;
  top: 50%;
}

